# Server Config
PORT=3000
HOST='http://localhost:3000'
CLIENT_URL='http://localhost:5173'
NODE_ENV="development"

# Database
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
DB_USERNAME="your_db_username"
DB_NAME="your_db_name"
DB_USERS_COLLECTION="users"
DB_REFRESH_TOKENS_COLLECTION="refresh_tokens"
DB_PRODUCTS_COLLECTION="products"
DB_ORDERS_COLLECTION="orders"
DB_CATEGORIES_COLLECTION="categories"
DB_CARTS_COLLECTION="carts"

# Hash Password
PASSWORD_SECRET="your_password_secret"

# JWT Secrets
JWT_SECRET_ACCESS_TOKEN="your_access_token_secret"
JWT_SECRET_REFRESH_TOKEN="your_refresh_token_secret"
JWT_SECRET_EMAIL_VERIFY_TOKEN="your_email_verify_token_secret"
JWT_SECRET_FORGOT_PASSWORD_TOKEN="your_forgot_password_token_secret"

# Token Expiration
ACCESS_TOKEN_EXPIRE_IN="15m"
REFRESH_TOKEN_EXPIRE_IN="100d"
EMAIL_VERIFY_TOKEN_EXPIRE_IN="7d"
FORGOT_PASSWORD_TOKEN_EXPIRE_IN="7d"

# Email Service (SMTP)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USERNAME="your_smtp_username"
SMTP_PASSWORD="your_smtp_password"
EMAIL_FROM_ADDRESS="noreply@example.com"
EMAIL_FROM_NAME="TechGear Support"

# Cloudinary Upload Service
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379

# Google OAuth2 Login
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# SePay Payment Gateway
SEPAY_ENV="sandbox"
SEPAY_MERCHANT_ID="SP-TEST-NT942323"
SEPAY_SECRET_KEY="spsk_test_hZXd1g3X82pifpXQtdY8vhxYkES54gJ4"
